# Laravel core
/vendor
/storage/*.key
/bootstrap/ssr
/public/storage

# Node & build
/node_modules
/public/build
/public/hot

# Environment
.env
.env.*
.env.local
.env.dev
.env.production
.env.backup

# IDEs
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Logs & caches
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
/coverage/

# Local dev tools
Homestead.json
Homestead.yaml
docker-compose.yml
/nginx/
/auth.json
